@using AppStore.DataAccess.Entities;

@model ProductEntity

@{
    ViewData["Title"] = "AddProduct";
}

<div class="text-center">
    <h1 class="display-4">Agregar producto</h1>
</div>


<form asp-action="AddProductPost" method="post">
    <div class="row mt-3">
        <div class="col-md-6">
            <label>Nombre</label>
            <input type="text" class="form-control" asp-for="Name" id="txtNombre" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label>Stock</label>
            <input type="number" class="form-control" asp-for="Stock" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label>Precio</label>
            <input type="text" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label>Fecha Registro</label>
            <input type="date" class="form-control" asp-for="RegisterDate" />
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-md-12">
            <button type="submit"  class="btn btn-primary">Registrar</button>&nbsp;
            <button class="btn btn-secondary">Cancelar</button>
        </div>

    </div>
</form>

@section Scripts {
    

    <script>
        //Añadir esta funcion al HTML del boton si deseo validar con JS => onclick="return validaNombre();"
        const validaNombre = ()=> {
            var nombreForm = document.getElementById("txtNombre").value;
            if (nombreForm == "") {
                alert("Colocar el nombre correcto");
                return false;
            }
            return true;
        }

    </script>

}