@using AppStore.DataAccess.Entities;

@model ProductEntity
@{
    ViewData["Title"] = "EditProduct";
}


<div class="text-center">
    <h1 class="display-4">Editar producto</h1>
</div>


<form asp-action="EditProductPost" method="post">
    
    <div class="row mt-3">
        <div class="col-md-3">
            <label>Codigo</label>
            <input type="text" class="form-control" asp-for="Id" readonly="readonly" />
        </div>
    </div>
     
    <div class="row mt-3">
        <div class="col-md-6">
            <label>Nombre</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <div class="col-md-3">
            <label>Stock</label>
            <input type="number" class="form-control" asp-for="Stock" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label>Precio</label>
            <input type="text" class="form-control" asp-for="Price" />
        </div>
        <div class="col-md-3">
            <label>Fecha Registro</label>
            <input type="date" class="form-control" asp-for="RegisterDate" />
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Actualizar</button>&nbsp;
            <button class="btn btn-secondary">Cancelar</button>
        </div>

    </div>
</form>
