
@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">Product available</h1>
</div>


<div class="row mt-3">
    <div class="col-md-4">

        <div class="card" style="width: 100%;">
            <img src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-pic-design-profile-vector-png-image_40966566.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
